Package: luci-lib-nixio
Version: svn-r10467-1
Depends: libc, luci-base
Source: feeds/luci/contrib/package/luci
Section: luci
Maintainer: LuCI Development Team <luci@lists.subsignal.org>
Architecture: ar71xx
Installed-Size: 29394
Description:  NIXIO POSIX library
