Package: horst
Version: 3.0-1
Depends: libc, libncurses
Source: feeds/packages/net/horst
SourceFile: horst-3.0.tar.gz
SourceURL: http://br1.einfach.org/horst_dl/
Section: net
Maintainer: Bruno Randolf <br1@einfach.org>
Architecture: ar71xx
Installed-Size: 28138
Description:  [horst] is a scanning and analysis tool for 802.11 wireless networks
 and especially IBSS (ad-hoc) mode and mesh networks (OLSR).
