Package: kmod-ath9k
Version: 3.10.4+2013-06-27-1
Depends: kernel (=3.10.4-1-b57bea8259c0858a542abc9687dec959), kmod-ath9k-common
Source: package/kernel/mac80211
SourceFile: compat-wireless-2013-06-27.1.tar.bz2
SourceURL: http://mirror2.openwrt.org/sources
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 57101
Description:  This module adds support for wireless adapters based on
 Atheros IEEE 802.11n AR5008 and AR9001 family of chipsets.
