Package: libuci-lua
Version: 2013-06-11.1-1
Depends: libc, libuci, liblua
Source: package/system/uci
SourceFile: uci-2013-06-11.1.tar.gz
SourceURL: git://nbd.name/uci.git
License: LGPLv2.1 GPLv2
Section: libs
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 6100
Description:  Lua plugin for UCI
